@rendermode InteractiveServer
@page "/editproductpages"

@if (AppState.UserInfo.Role == "ADMIN")
{
	

<h3>Editera produkt</h3>

@if(!isProductUpdated)
{
<EditForm Model="SelectedProduct" 
	
Enhance
method="put"
FormName="EditProduct"
OnValidSubmit="@UpdateProduct">

<DataAnnotationsValidator />
<ValidationSummary></ValidationSummary>

<div class="row mb-3">
	<label for="name" class="col-form-label col-md-3">Namn</label>
		<div class="col-md-8">
			<InputText id="productName" class="form-control col-md-8" @bind-Value="@SelectedProduct.Name" placeholder="Skriv in produktens namn"/>
		</div>
		<ValidationMessage class="offset-md-3" For="@( () => SelectedProduct.Name)" />
</div>


	<div class="row mb-3">
		<label for="price" class="col-form-label col-md-3">Pris</label>
		<div class="col-md-8">
			<InputNumber id="price" class="form-control col-md-8" min="0" @bind-Value="@SelectedProduct.Price"></InputNumber>
		</div>
		<ValidationMessage class="offset-md-3" For="@(() => SelectedProduct.Price)" />
	</div>

	<div class="row mb-3">
		<label for="category" class="col-form-label col-md-3">Kategori</label>
		<div class="col-md-8">
			<InputSelect id="productCategories" class="form-control col-md-8" @bind-Value="@SelectedProduct.CategoryId" placeholder="Enter product price">
				@foreach (var category in Categories)
				{
					<option value="@category.Id">@category.Name</option>
				}
			</InputSelect>
		</div>
	</div>



	<div class="row mb-3">
		<label for="description" class="col-form-label col-md-3">Beskrivning:</label>
		<div class="col-md-8">
			<InputTextArea id="productDescription" class="form-control col-md-8" @bind-Value="@SelectedProduct.Description" placeholder="Skriv in en beskrivning av produkten" />
		</div>
		<ValidationMessage class="offset-md-3" For="@( () => SelectedProduct.Description)" />
	</div>
	
	<div class="row mb-3">
		<label for="status" class="col-form-label col-md-3"></label>
		<div class="col-md-8">
			<InputCheckbox id="status" @bind-Value="@SelectedProduct.Status"></InputCheckbox><span class="ms-2">@if (SelectedProduct.Status)
				{
					<span class="text-bg-success">I Lager</span>
				}
				else
				{
					<span class="text-bg-danger">Ej i Lager</span>
				}</span>
		</div>
	</div>

	<div>
		<button type="submit" class="btn btn-outline-primary ms-1">Submit</button>
	</div>



</EditForm>

	}
	else{

		<div>
			<label class="mt-2 alert @statusClass">@message</label>
		</div>
	}
}
else{<h3>Hoppsan nu har du kommit fel</h3>}
