@page "/manageproducts"
@using DTOs
@rendermode InteractiveServer
@using System.Net.Http.Json
@using MudBlazor


<MudTable 
    T="ProductFrontDto" 
    Items="@Products.Take(10)" 
    Hover="true" 
    Breakpoint="Breakpoint.Sm" 
    @ref="mudTable"
    RowClass="cursor-pointer" 
    @bind-SelectedItem="selectedProduct">
      
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Price</MudTh>
        <MudTh>Category</MudTh>
        <MudTh>In stock</MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Price">@context.Price kr</MudTd>
        <MudTd DataLabel="Category">
            @Categories.Where(c => c.Id == context.CategoryId).Select(c => c.Name).FirstOrDefault()</MudTd>
        <MudTd DataLabel="Status">@if (context.Status)
            {
                <span>In stock</span>
            }
            else {
                <span>Not in stock</span>
            }
        </MudTd>
        
    </RowTemplate>
</MudTable>
@if (selectedProduct != null)
{
<div class="mt-3">

<MudButton Variant="Variant.Outlined"  Color="Color.Primary">Edit product</MudButton>
<MudButton Variant="Variant.Outlined" Class="ms-3" Color="Color.Secondary">Delete product</MudButton>

</div>
}
    


@if (selectedProduct != null)
{
    <p>Vald produkt: <strong>@selectedProduct.Name</strong></p>
}
else {
    <p>Laddar...</p>
}














