@using DTOs
@using System.Net.Http.Json
@using MudBlazor
@rendermode InteractiveServer
@inject IDialogService DialogService
@inject NavigationManager Navigation
@page "/manageproducts"

@if (Products.Count() == 0)
{
    <MudContainer>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12" class="text-center">
                <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
                
            </MudItem>
    
        </MudGrid>
    </MudContainer>
    
} @* Laddningsymbol *@

@if (SelectedProduct != null)
{
    <div class="mb-3 ms-1">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="EditProduct">Edit product</MudButton>
        <MudButton Variant="Variant.Outlined" Class="ms-3" @onclick="OpenConfirmDialogDelete" Color="Color.Secondary">Delete product</MudButton>
        <MudText Typo="Typo.h5" class="mt-2">Vald produkt: <strong>@SelectedProduct.Name</strong></MudText>

    </div>
}

<div class="mb-2 ms-1 ">
    
    <input class="form-control" @bind="searchText"
           @oninput="SearchProducts" placeholder="Search by product name" />
           
    
</div>


    <MudTable T="ProductDTO"
              Items="@Products"
              Hover="true"
              Breakpoint="Breakpoint.Sm"
              @ref="mudTable"
              RowClass="cursor-pointer"
              @bind-SelectedItem="SelectedProduct">

        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Price</MudTh>
            <MudTh>Category</MudTh>
            <MudTh>In stock</MudTh>

        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Price">@context.Price kr</MudTd>
            <MudTd DataLabel="Category">
                @Categories.Where(c => c.Id == context.CategoryId).Select(c => c.Name).FirstOrDefault()
            </MudTd>
            <MudTd DataLabel="Status">
                @if (context.Status)
                {
                    <span>In stock</span>
                }
                else
                {
                    <span>Not in stock</span>
                }
            </MudTd>

        </RowTemplate>
    </MudTable>
<MudText Class="text-bg-danger mt-2 border-black text-center">@message</MudText>



 @* <MudTable 
    T="ProductFrontDto" 
    Items="@SearchedProducts" 
    Hover="true" 
    Breakpoint="Breakpoint.Sm" 
    @ref="mudTable"
    RowClass="cursor-pointer" 
    @bind-SelectedItem="SelectedProduct">
      
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Price</MudTh>
        <MudTh>Category</MudTh>
        <MudTh>In stock</MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Price">@context.Price kr</MudTd>
        <MudTd DataLabel="Category">
            @Categories.Where(c => c.Id == context.CategoryId).Select(c => c.Name).FirstOrDefault()</MudTd>
        <MudTd DataLabel="Status">@if (context.Status)
            {
                <span>In stock</span>
            }
            else {
                <span>Not in stock</span>
            }
        </MudTd>
        
    </RowTemplate>
</MudTable> Listan med alla produkter *@

 





















