@page "/manageproducts"
@using DTOs
@rendermode InteractiveServer
@using System.Net.Http.Json
@using MudBlazor
@inject IDialogService DialogService

@if (SelectedProduct != null)
{
    <div class="mb-3 ms-1">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary">Edit product</MudButton>
        <MudButton Variant="Variant.Outlined" Class="ms-3" @onclick="OpenConfirmDialogDelete" Color="Color.Secondary">Delete product</MudButton>
        <MudText Typo="Typo.h5" class="mt-2">Vald produkt: <strong>@SelectedProduct.Name</strong></MudText>

    </div>
}

<MudTable 
    T="ProductFrontDto" 
    Items="@Products" 
    Hover="true" 
    Breakpoint="Breakpoint.Sm" 
    @ref="mudTable"
    RowClass="cursor-pointer" 
    @bind-SelectedItem="SelectedProduct">
      
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Price</MudTh>
        <MudTh>Category</MudTh>
        <MudTh>In stock</MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Price">@context.Price kr</MudTd>
        <MudTd DataLabel="Category">
            @Categories.Where(c => c.Id == context.CategoryId).Select(c => c.Name).FirstOrDefault()</MudTd>
        <MudTd DataLabel="Status">@if (context.Status)
            {
                <span>In stock</span>
            }
            else {
                <span>Not in stock</span>
            }
        </MudTd>
        
    </RowTemplate>
</MudTable>
        


    

















